@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #020204; /* Ultra Dark Navy/Black */
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

/* Utility para sa Grid Background */
.bg-grid-small-white {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
                    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
}

/* Mask para mag-fade yung grid sa gilid */
.mask-radial-faded {
  mask-image: radial-gradient(circle at center, black, transparent 80%);
  -webkit-mask-image: radial-gradient(circle at center, black, transparent 80%);
}